body {
	background-color: blue;
	margin-top: 50px;
}
main,
section,
header {
	border-radius: 22px;
	margin-bottom: 68px;
}

main {
	background-color: aliceblue;
	padding: 20px;
}
section {
	background-color: aquamarine;
	padding: 20px;
	margin-bottom: 20px
}
header {
	background-color: beige;
	text-align: center;
	border-radius: 40px;

}
footer {
	background-color: black;
	color: white;
	text-align: center;
	width: 100%;
}
.tableColumnHeader,
.tableCell {
	border-width: 1px;
	border-color: black; 
	border-style: solid;
	text-align: center;
	font-family: Georgia, Times, Times New Roman, serif;
}
.tableColumnHeader {
	font-size: 2em;
}

.invisible {
	display: none;
}
.round {
	border-radius: 100%;
}